global
	log PLACEHOLDER_LOGHOST	syslog
	#chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	#user haproxy
	#group haproxy

	ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

userlist admins
  user admin insecure-password PLACEHOLDER_PASSWORD

defaults
	log		global
	mode	http
	retries 3
	option redispatch
	option	dontlognull
    timeout connect 5000
    timeout client  500000
    timeout server  500000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

frontend logstash-lumberjack
  bind *:5043
  mode tcp
  option tcplog
  default_backend logstash-lumberjack

frontend frontend-ssl
  bind *:443 ssl crt /etc/ssl/proxy.pem no-sslv3
  mode http
  option httplog
  redirect prefix https://book.gameontext.org code 301 if { hdr(host) -i book.game-on.org }
 
  acl auth path_beg -i /auth
  use_backend auth if auth

  acl player path_beg -i /play
  use_backend player	if player

  acl map path_beg -i /map
  use_backend map if map

  acl swagger	 path_beg -i /swagger
  use_backend swagger		if swagger

  acl room	 path_beg -i /rooms
  use_backend room		if room

  acl roomjs	path_beg -i /roomjs
  use_backend	roomjs	if roomjs

  acl mediator path_beg -i /mediator
  use_backend mediator  if mediator

  acl interactivemap path_beg -i /interactivemap
  http-request redirect location https://gameon-interactivemap.mybluemix.net/interactivemap code 301 if interactivemap

  default_backend static-content

frontend frontend-plain
  bind *:80
  mode http
  option httplog
  redirect prefix https://book.gameontext.org code 301 if { hdr(host) -i book.game-on.org }
  redirect scheme https code 301 if !{ ssl_fc }

backend room
  mode http
  option httplog
  option httpchk HEAD / HTTP/1.1\r\nHost:localhost
  balance roundrobin
  server room1 PLACEHOLDER_DOCKERHOST:9080 check

backend roomjs
  mode http
  option httplog
  balance roundrobin
  server room1 PLACEHOLDER_DOCKERHOST:5000 check

backend map
  mode http
  option httplog
  option httpchk GET /map/v1/health HTTP/1.1\r\nHost:localhost
  balance roundrobin
  server map1 PLACEHOLDER_DOCKERHOST:9447 ssl check check-ssl verify none

backend mediator
  mode http
  option httplog
  balance roundrobin
  server mediator1 PLACEHOLDER_DOCKERHOST:9446 ssl check check-ssl verify none

backend auth
  mode http
  option httplog
  option httpchk GET /auth/health HTTP/1.1\r\nHost:localhost
  balance roundrobin
  server auth1 PLACEHOLDER_DOCKERHOST:9449 ssl check check-ssl verify none

backend player
  mode http
  option httplog
  balance roundrobin
  server player1 PLACEHOLDER_DOCKERHOST:9443 ssl check check-ssl verify none

backend static-content
  mode http
  option httpchk HEAD / HTTP/1.1\r\nHost:localhost
  option httplog
  balance roundrobin
  server webapp1 PLACEHOLDER_DOCKERHOST:8080 check

backend logstash-lumberjack
  mode tcp
  option tcplog
  balance roundrobin
  server logstash1 PLACEHOLDER_DOCKERHOST:5043 check

backend swagger
  mode http
  acl swagger_root path -i /swagger
  redirect location /swagger/ if swagger_root
  option httpchk HEAD / HTTP/1.1\r\nHost:localhost
  option httplog
  balance roundrobin
  server swagger1 PLACEHOLDER_DOCKERHOST:8081 check

listen stats
    bind *:1936 ssl crt /etc/ssl/proxy.pem
    stats enable
    stats uri /
    stats hide-version
    stats auth admin:PLACEHOLDER_PASSWORD
